@import '../../colors.scss';
header.header-not-auth{
    height: 110px;
    border-bottom: solid 5px $dark-theme-color;
    padding: 0px 50px;
    .header-logo{
        max-width: 80px;
        max-height: 80px;
        span{
            font-size: 10px;
        }
    }
    .btns-block{
        position: relative;
        align-items: center;
        height: 100%;

        .btn{
            margin: 25px;
            padding: 16px 60px;
        }

        &::before{
            content: '';
            position: absolute;
            left: calc(50% - 22.5px);
            top: 0%;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 30px solid $dark-theme-color;
            clear: both;
        }
    }

    @media (max-width: 760px) {
        padding: 0px;
        .btns-block{
            width: 100%;
            .btn {
                font-size: 13px;
                padding: 12px 40px; 
            }
        }

        .header-logo{
            display: none;
        }
    }
}