@import '../../colors.scss';
header.header-auth{
    height: 110px;
    padding: 0px 50px;
    padding-right: 0px;
    .btns-block{
        position: relative;
        align-items: center;
        height: 100%;

        img{
            cursor: pointer;
            width: 20px;
            height: 20px;
            padding: 8px;
            margin: 0px 20px;
        }

        .input-field{
            margin-left: 20px;
            input{
                border-right: 0;
            }
            width: 400px;
        }
    }

    @media (max-width: 760px) {
        padding: 0px;
        .btns-block{
            width: 100%;
            .btn {
                font-size: 13px;
                padding: 12px 40px; 
            }
        }

        .header-logo{
            display: none;
        }
    }
}