@import './colors';
@import './fonts.scss';

body, html {
    margin:0;
    background-color: $base-background-color;
    font-family: Helvetica;
}

.flex {
    display: flex;
}
.column{
    flex-direction: column;
}
.j-space-between{
    justify-content: space-between;
}
.j-space-around{
    justify-content: space-around;
}
.j-center{
    justify-content: center;
}

.a-i-center{
    align-items: center;
}

// input{
//     height: 60px;
//     width: 100%;
//     background: #FFFCF2;
//     border: 10px solid #252422;
//     box-sizing: border-box;
// }

.btn {
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFCF2;
    padding: 22px 70px;
    border-radius: 4px;
}

.btn.dark{
    background-color: $dark-theme-color;
}

.btn.orange{
    background-color: $orange-theme-color;
}

.btn.light{
    background-color: $dark-theme-color;
}

.gray-button {
    background-color: $dark-theme-color;
}

.back-dark{
    background-color: $dark-theme-color;
}

.back-light{
    background-color: $light-color;
}

.border-orange{
    border-color: $orange-theme-color!important;
}

.border{
    border: solid 10px;
}

.hide{
    display: none!important;
}